@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto+Mono:wght@400;600;700&family=Roboto:wght@100;300;400;500&family=Rubik+Glitch&display=swap');

body {
    background-color: #F3F5FC;
    transition: all 0.3s ease-in-out;
}

header {
    width: 96%;
}

section {
    margin-left: 100px;
    margin-top: 30px;
}

#logo-alura {
    font-family: 'Roboto';
    color: #0A3871;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;

}

.logoAlura {
    transition: all 0.3s ease-in-out;
}

.bi {
    cursor: pointer;
}

section img:hover {
    transform: scale(1.3);
    transition: all 0.5s ease-out;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.encrypt {
    flex: 1;
    min-width: 70vw;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.encrypt textarea {
    margin-top: 40px;
    width: 60%;
    height: 573px;
    font-size: 30px;
    resize: none;
    border: none;
    color: #0A3871;
    background-color: transparent;
    font-family: 'Roboto';
}

.encrypt textarea:focus {
    outline: none;
}


.encrypt textarea::placeholder {
    color: #0A3871;
}


.info {
    width: 60%;
    position: relative;
    margin-top: 10px;
    left: 20px;
    font-size: 18px;
    color: #212121;
}

.informacao {
    width: 300px;
}

.informacao p {
    animation: piscar 1.5s linear infinite alternate;
}

@keyframes piscar {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.encrypt .buttons {
    width: 60%;
    position: relative;
    display: flex;
    left: 0%;
    gap: 5%;
    margin-top: 10px;
}

.btn-1 {
    width: 328px;
    height: 67px;
    background: #0A3871;
    color: white;
    border-radius: 24px;
    cursor: pointer;
}

.btn-1:active {
    background-color: #AAB2D5;
}

.btn-2 {
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;

}

.btn-2:active {

    background-color: #AAB2D5;
}

.decrypt {
    flex: 1;
    height: 750px;
}


.container {

    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 70%;
    min-width: 363px;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 24px 32px -8px #00000014;
}

.container img {
    margin-top: 20px;
    width: 336px;
    height: 304px;
}

.container p {
    height: 70px;
    margin-top: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.container textarea {
    padding: 20px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 24px;
    width: 360px;
    height: 230px;
    outline: none;
    resize: none;
    border: none;
    font-family: 'Roboto';
}

::selection {
    background-color: #0F4C81;
    color: #FFFFFF;
}

.btn-copiar {
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
}

.btn-copiar:active {

    background-color: #AAB2D5;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    margin-top: 15px;
}

footer ul {
    width: 30%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer li a {
    text-decoration: none;
    color: #0A3871;
}

footer li {
    transition: all 0.4s ease-out;
}

footer li:hover {
    transform: scale(1.8);
    transition: all 0.4s ease-out;
}

/*DARK MODE*/
.dark-mode {
    /*transition: all 0.3s ease-in-out;*/
    background-color: #212121;
    color: #F3F5FC;
}

.dark-mode .tituloTop {
    /*  transition: all 0.3s ease-in-out;*/
    color: white;
}

.dark-mode .informacao {
    /* transition: all 0.3s ease-in-out;*/
    color: white;
}

.dark-mode .encrypt textarea {
    color: white;
}

.dark-mode .encrypt textarea::placeholder {
    transition: all 0.3s ease-in-out;
    color: white;
}

.dark-mode .btn-2{
    border: 2px solid #0A3871;
}

.dark-mode .bi {
    /* transition: all 0.3s ease-in-out;*/
    color: white;
}

@media(max-width: 1400px) {
    .container {
        margin-top: 30px;
        max-width: 100%;
    }

    .informacao p {
        font-size: 10px;
    }
}